<!doctype html>

<head>
  <title>ISO Bot</title>
  <meta charset="UTF-8" />

  <link rel="stylesheet" type="text/css" href="../static/css/style.css">
<script src="https://kit.fontawesome.com/895917e848.js" crossorigin="anonymous"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <script src="../static/js/script.js"></script>


  <link rel="apple-touch-icon" sizes="180x180" href="static/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/favicon/favicon-16x16.png">
  <link rel="manifest" href="static/favicon/site.webmanifest">

</head>

<body>

  <header id="topHeader" onclick="openNav()">
    <div></div>
    <h3>ISO Bot Output</h3>

    <h3 class="align-right openButton">Menu &nbsp;&#9776;</h3>
    <div></div>
  </header>

  <nav id="menu">
    <div onclick="closeNav()">
      <h5 class="menu-text close" id="closeButton">&times;</h5>
    </div>
    <a href="/">
      <h5 class="menu-text">Home</h5>
    </a>
    <a href="https://github.com/HyperbolicStudios/isobot">
      <h5 class="menu-text">About</h5>
    </a>
    <div></div>

  </nav>
  <section class="divider">
  </section>
  <section>

    <h1>Game {{gameletter}}</h1>
<br>
<h2>User: {{target}}</h2>
<br>
    <section id ="options">
      <div></div>
    <h4>Show BB Code</h4><div>
      <!-- Rounded switch -->
    <label class="switch">
      <input type="checkbox" onclick="toggle()" id="toggle">
      <span class="slider round"></span>
    </label></div>
    </section>


     {% autoescape false %}
    {% for comment in posts %}
    <div class="post">
      <div>
        <div class="post-meta-data unselectable"><a href="{{url +comment.id}}">{{comment.date}} &emsp;|&emsp;#{{comment.number}}</a></div>
        <br>
        <div class="content-rendered">{{comment.text_rendered}}<br>
          
        </div>
        <div class="content-bbcode">{{comment.text_bbcode}}</div>
      </div>
      <h1 class="copy-button"><i onclick="copy(this)"class="fas fa-copy"></i></h1>
    </div>
    {% endfor %}
    {% endautoescape %}
    
  </section>

  <footer>

<p> Created by Mark. Ask me for help if you need it.
    </footer>

</body>
